
<mat-card class="shadow rounded image-container card-container" [routerLink]="['detail/',juego.id]" [state]=juego >
  

  <img class="img-fluid" mat-card-image src={{juego.background_image}}>
  <div class="card-content">
    <h2>{{juego.name}}</h2>
    <p>{{juego.playtime}}</p>
  </div>

  <div class="d-flex justify-content-between">
    <mat-card-title class="mat-card-title p-2">{{juego.released}}</mat-card-title>
    <mat-card-title class="mat-card-title ml p-2">{{juego.metacritic}}</mat-card-title>
  </div>
  <div class="d-flex align-self-center">
    <mat-card-title class="mat-card-title pr p-2">{{juego.name}}</mat-card-title>
  </div>
</mat-card>
