
<app-menu></app-menu>
<div class="container-fluid">
  <div class="card-container" >
    <div *ngFor="let noticia of noticias">
      <a href="{{noticia.url}}" style="text-decoration: none;display:flex; width: 90%; justify-content: center; margin : auto; max-width: 300px;">
        <mat-card style="margin-top: 20px; width: auto">
          <mat-card-header>
            <mat-card-title class="title">{{noticia.title}}</mat-card-title>

          </mat-card-header>
          <mat-card-content class="content">
            <img mat-card-image src="{{noticia.urlToImage}}" alt="{{noticia.author}}"
              style="height: auto; width: 100% ">

          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <!-- Columna de la izquierda -->
    <div class="col-md-2 custom-mt-15">
      <div class="card listas">
        <div >
          Listas disponibles
        </div>
        <div>
          <div class="btn-container">
            <button mat-button style="height: auto;" [routerLink]="['seguidos/',this.userID]">
              <div class="icon-container">
                <mat-icon matListItemIcon style="font-size: 48px; height: 48px; width: 48px">{{listas[0].icon}}</mat-icon>
                <h2 style="margin-left: 0px; margin-bottom: 0px;">{{listas[0].nombre}}</h2>
              </div>
            </button>
          </div>

          <div  class="btn-container">
            <button mat-button style="height: auto;" [routerLink]="['guardados/',this.userID]">
              <div  class="icon-container">
                <mat-icon matListItemIcon style="font-size: 48px; height: 48px; width: 48px">{{listas[1].icon}}</mat-icon>
                <h2 style="margin-left: 0px; margin-bottom: 0px;">{{listas[1].nombre}}</h2>
              </div>
            </button>
          </div>

          <div class="btn-container">
            <button mat-button style="height: auto;" [routerLink]="['abandonados/',this.userID]">
              <div class="icon-container">
                <mat-icon matListItemIcon style="font-size: 48px; height: 48px; width: 48px">{{listas[2].icon}}</mat-icon>
                <h2 style="margin-left: 0px; margin-bottom: 0px;">{{listas[2].nombre}}</h2>
              </div>
            </button>
          </div>

        </div>

      </div>
    </div>

    <!-- Grid de cards en el lado derecho -->
    <div class="col-md-10">
      <h2 style="margin-top: 15px;">Recomendados</h2>

      <div class="align-items-center grid-cards" fxLayout="row wrap" fxLayout.xs="column">
          <div fxFlex="20" fxFlex.lg="20" fxFlex.sm="35" *ngFor="let juego of juegos">
              <app-game-card [juego]="juego"></app-game-card>
          </div>
      </div>
    </div>

  </div>
</div>
