<app-menu></app-menu>

<div class="d-flex justify-content-between align-items-center">
  <h1 class="titulo p-5">Lista de Guardados</h1>

  <app-qr></app-qr>
</div>


  <div class="align-items-center"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="1.3vw">

      <div fxFlex="20"
          fxFlex.lg="20"
          fxFlex.sm="40"
          *ngFor="let juego of juegos">
          <app-game-card-valoracion [juego]="juego"></app-game-card-valoracion>
      </div>
  </div>
