<mat-toolbar class="toolbar">
    <mat-icon routerLink="/">sports_esports</mat-icon>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        <mat-menu #menu="matMenu">            
          <button mat-menu-item routerLink="/home"><mat-icon matListItemIcon >grade</mat-icon>Home</button>
          <button mat-menu-item routerLink="/detalles"><mat-icon matListItemIcon>update</mat-icon>Detalles</button>
        </mat-menu>
    </button>

    <span class="spacer"></span>

    <button *ngIf="log" mat-button [matMenuTriggerFor]="usuario">
       {{user}}
       <mat-menu #usuario="matMenu">
        <button mat-menu-item routerLink="/perfil">Estadisticas</button>
        <button mat-menu-item (click)="logOut()">Cerrar Sesion</button>
      </mat-menu>
    </button>

    <button *ngIf="!log" mat-button routerLink="/login">
      Iniciar Sesion
   </button>
</mat-toolbar>
