<app-menu></app-menu>

<h1 class="titulo p-5">Lista de Seguidos</h1>
  <div class="align-items-center"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="1.3vw">

      <div fxFlex="20"
          fxFlex.lg="20"
          fxFlex.sm="40"
          *ngFor="let juego of juegos">
          <app-game-card-valoracion [juego]="juego"></app-game-card-valoracion>
      </div>
  </div>

  <div class="botonera">
      <button *ngIf="num>1" (click)="anterior()" mat-mini-fab color="primary"><mat-icon>arrow_back</mat-icon></button>
      <h1 class="num">{{num}}</h1>
      <button (click)="siguiente()" mat-mini-fab color="primary"><mat-icon>arrow_forward</mat-icon></button>
  </div>
