<div fxLayoutAlign="center" class="container">
  <mat-card class="login-card">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayoutGap="32px">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Gmail</mat-label>
          <input matInput placeholder="Ingresa tu usuario" formControlName="email" style="font-size: 16px;">
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingresa tu contraseña" formControlName="password" style="font-size: 16px;">
            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <div fxLayoutAlign="center">
          <button mat-raised-button color="primary" style="font-size: 24px;">Iniciar Sesión</button>
        </div>
      </form>
      <br>
      <div fxLayoutAlign="center">
        <button mat-raised-button color="primary" style="font-size: 24px;" routerLink="/registro">Registrarse</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>