<body>
  <app-menu></app-menu>
  <div class="container-detail">
    <div class="row justify-content-center">
      <div class="col-md-10">

        <div class="d-flex title-content">
          <div>
            <h1 class="pt-3 fuente">{{ game.name }}</h1>
            <p>{{ game.released }}</p>
          </div>

          <div class="metacritic" [style.background-color]="getColor().color"><p>
            {{ game.metacritic }}
          </p></div>

        </div>
        <img
          src="{{ game.background_image }}"
          alt="Imagen del juego"
          class="img-fluid rounded my-3"
        />
      </div>
      <div  class="chips">
        <mat-chip-listbox *ngFor="let genre of game.genres" aria-label="Géneros">
          <mat-chip-option>{{ genre.name }}</mat-chip-option>
        </mat-chip-listbox>
      </div>

      <div class="col-md-6 mr-5">
        <h2>Descripción</h2>
        <p class="description">{{ game.description_raw }}</p>
      </div>

      <div class="col-md-5 margen">
        <h2>Critica</h2>
        <div class="input-group">
          <textarea [(ngModel)]="contenidoTextarea"class="form-control"></textarea>
        </div>
        <star-rating class="rate" [rating]="nota" (ratingChange)="onRatingChange($event)"></star-rating>

        <label class="label-lists">¿En qué lista lo quieres meter?</label>

        <div>
          <label>
            <input [(ngModel)]="ngLista" type="radio" name="lista" value="1" (change)="onChange($event)" > Seguidos
          </label>
        </div>
        <div>
          <label>
            <input [(ngModel)]="ngLista" type="radio" name="lista" value="3" (change)="onChange($event)"> Pendientes
          </label>
        </div>
        <div>
          <label>
            <input [(ngModel)]="ngLista" type="radio" name="lista" value="2" (change)="onChange($event)"> Abandonados
          </label>
        </div>


        <div class="btns-container d-flex  pt-5">
          <button class="btn btn-primary" type="button"(click)="onSubmit()" routerLink="['/']">Guardar</button>
          <button class="btn btn-secondary text-center" type="button" routerLink="['/']">Cancelar</button>
        </div>
        <br>
        <div class="card-columns"  *ngFor="let genre of valoracionesExter">
          <div class="card" *ngIf="genre.critica!='' && genre.userID!=this.userID" >
            <div class="card-body">
              <h5 class="card-title">{{genre.usuario}}</h5>
              <p class="card-text">{{genre.critica}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
